In [2]:
import xml.dom.minidom as minidom
doc_xml = minidom.parse("trec.sample.xml")

In [3]:
all_doc_no = doc_xml.getElementsByTagName('DOCNO')
all_profile = doc_xml.getElementsByTagName('PROFILE')
all_date = doc_xml.getElementsByTagName('DATE')
all_headline = doc_xml.getElementsByTagName('HEADLINE')
all_text = doc_xml.getElementsByTagName('TEXT')
all_pub = doc_xml.getElementsByTagName('PUB')
all_page = doc_xml.getElementsByTagName('PAGE')

N_DOC = len(all_doc_no)

In [4]:
all_sentence_doc = []
for i in range(N_DOC):
    sentence_doc = all_headline[i].firstChild.data +' '+ all_text[i].firstChild.data
    all_sentence_doc.append(sentence_doc)

In [5]:
all_sentence_doc[0]

u"\nFT  14 MAY 91 / (CORRECTED) Jubilee of a jet that did what it was designed\nto do\n \nCorrection (published 16th May 1991) appended to this article.\n'FRANK, it flies]' shouted someone at Sir Frank Whittle during the maiden\nflight of a British jet. 'Of course it does,' replied Sir Frank, who\npatented the first aircraft gas turbine. 'That's what it was bloody well\ndesigned to do, wasn't it?'\nExactly 50 years ago yesterday, the first British jet made a brief 17-minute\nflight from RAF Cranwell in Lincolnshire. To celebrate the event, Mr Eric\n'Winkle' Brown, a 72-year-old test pilot of the prototype Gloster Whittle\njet, Mr Geoffrey Bone, a 73-year-old engineer, and Mr Charles McClure, a\n75-year-old pilot, returned to RAF Cranwell. They are seen in front of a\nrestored Meteor NF 11. Sir Frank was unable to attend because of ill-health.\nThe Gloster Whittle was not the first jet to fly: a Heinkel 178 had its\nmaiden flight in August 1939, 21 months before the British aircraft.\nCorrection (published 16th May 1991).\nTHE PICTURE of a Gloster Whittle jet on Page 7 of the issue of Tuesday May\n14, was taken at Bournemouth Airport and not at RAF Cranwell as stated in\nthe caption.\n"

In [6]:
import string
import re
from sklearn.feature_extraction.text import CountVectorizer

In [7]:
tokens_doc = []

# Remove Punctuation, URL & Tokenize

In [8]:
def remove_punc_tokenize(sentence):
    tokens = []
    for punctuation in string.punctuation:
        sentence = sentence.replace(punctuation," ")
    
    sentence = re.sub(r'^https?:\/\/.*[\r\n]*', '', sentence, flags=re.MULTILINE)
    for w in CountVectorizer().build_tokenizer()(sentence):
        tokens.append(w)
    return tokens

In [9]:
for i in range(N_DOC):
    tokens_doc.append(remove_punc_tokenize(all_sentence_doc[i]))

In [10]:
tokens_doc[0]

[u'FT',
 u'14',
 u'MAY',
 u'91',
 u'CORRECTED',
 u'Jubilee',
 u'of',
 u'jet',
 u'that',
 u'did',
 u'what',
 u'it',
 u'was',
 u'designed',
 u'to',
 u'do',
 u'Correction',
 u'published',
 u'16th',
 u'May',
 u'1991',
 u'appended',
 u'to',
 u'this',
 u'article',
 u'FRANK',
 u'it',
 u'flies',
 u'shouted',
 u'someone',
 u'at',
 u'Sir',
 u'Frank',
 u'Whittle',
 u'during',
 u'the',
 u'maiden',
 u'flight',
 u'of',
 u'British',
 u'jet',
 u'Of',
 u'course',
 u'it',
 u'does',
 u'replied',
 u'Sir',
 u'Frank',
 u'who',
 u'patented',
 u'the',
 u'first',
 u'aircraft',
 u'gas',
 u'turbine',
 u'That',
 u'what',
 u'it',
 u'was',
 u'bloody',
 u'well',
 u'designed',
 u'to',
 u'do',
 u'wasn',
 u'it',
 u'Exactly',
 u'50',
 u'years',
 u'ago',
 u'yesterday',
 u'the',
 u'first',
 u'British',
 u'jet',
 u'made',
 u'brief',
 u'17',
 u'minute',
 u'flight',
 u'from',
 u'RAF',
 u'Cranwell',
 u'in',
 u'Lincolnshire',
 u'To',
 u'celebrate',
 u'the',
 u'event',
 u'Mr',
 u'Eric',
 u'Winkle',
 u'Brown',
 u'72',
 u'year',
 u'old',
 u'test',
 u'pilot',
 u'of',
 u'the',
 u'prototype',
 u'Gloster',
 u'Whittle',
 u'jet',
 u'Mr',
 u'Geoffrey',
 u'Bone',
 u'73',
 u'year',
 u'old',
 u'engineer',
 u'and',
 u'Mr',
 u'Charles',
 u'McClure',
 u'75',
 u'year',
 u'old',
 u'pilot',
 u'returned',
 u'to',
 u'RAF',
 u'Cranwell',
 u'They',
 u'are',
 u'seen',
 u'in',
 u'front',
 u'of',
 u'restored',
 u'Meteor',
 u'NF',
 u'11',
 u'Sir',
 u'Frank',
 u'was',
 u'unable',
 u'to',
 u'attend',
 u'because',
 u'of',
 u'ill',
 u'health',
 u'The',
 u'Gloster',
 u'Whittle',
 u'was',
 u'not',
 u'the',
 u'first',
 u'jet',
 u'to',
 u'fly',
 u'Heinkel',
 u'178',
 u'had',
 u'its',
 u'maiden',
 u'flight',
 u'in',
 u'August',
 u'1939',
 u'21',
 u'months',
 u'before',
 u'the',
 u'British',
 u'aircraft',
 u'Correction',
 u'published',
 u'16th',
 u'May',
 u'1991',
 u'THE',
 u'PICTURE',
 u'of',
 u'Gloster',
 u'Whittle',
 u'jet',
 u'on',
 u'Page',
 u'of',
 u'the',
 u'issue',
 u'of',
 u'Tuesday',
 u'May',
 u'14',
 u'was',
 u'taken',
 u'at',
 u'Bournemouth',
 u'Airport',
 u'and',
 u'not',
 u'at',
 u'RAF',
 u'Cranwell',
 u'as',
 u'stated',
 u'in',
 u'the',
 u'caption']

# Case Folding -> to lower

In [11]:
def to_lower(tokens):
    tokens = [x.lower() for x in tokens]
    return tokens

In [12]:
for i in range(N_DOC):
    tokens_doc[i] = to_lower(tokens_doc[i])

# Stopping , remove number & Stemming

In [13]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
def stop_word_token(tokens):
    tokens = [w for w in tokens if not w in stop_words]
    return tokens

for i in range(N_DOC):
    tokens_doc[i] = stop_word_token(tokens_doc[i])

In [14]:
for i in range(N_DOC):
    tokens_doc[i] = ([w for w in tokens_doc[i] if not any(j.isdigit() for j in w)])

In [15]:
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()
def stemming(tokens):
    for i in range(0, len(tokens)):
        if (tokens[i] != stemmer.stem(tokens[i])):
            tokens[i] = stemmer.stem(tokens[i])
    return tokens


for i in range(N_DOC):
    tokens_doc[i] = stemming(tokens_doc[i])

In [15]:
tokens_doc[0]

[u'ft',
 u'may',
 u'correct',
 u'jubile',
 u'jet',
 u'design',
 u'correct',
 u'publish',
 u'may',
 u'append',
 u'articl',
 u'frank',
 u'fli',
 u'shout',
 u'someon',
 u'sir',
 u'frank',
 u'whittl',
 u'maiden',
 u'flight',
 u'british',
 u'jet',
 u'cours',
 u'repli',
 u'sir',
 u'frank',
 u'patent',
 u'first',
 u'aircraft',
 u'ga',
 u'turbin',
 u'bloodi',
 u'well',
 u'design',
 u'exactli',
 u'year',
 u'ago',
 u'yesterday',
 u'first',
 u'british',
 u'jet',
 u'made',
 u'brief',
 u'minut',
 u'flight',
 u'raf',
 u'cranwel',
 u'lincolnshir',
 u'celebr',
 u'event',
 u'mr',
 u'eric',
 u'winkl',
 u'brown',
 u'year',
 u'old',
 u'test',
 u'pilot',
 u'prototyp',
 u'gloster',
 u'whittl',
 u'jet',
 u'mr',
 u'geoffrey',
 u'bone',
 u'year',
 u'old',
 u'engin',
 u'mr',
 u'charl',
 u'mcclure',
 u'year',
 u'old',
 u'pilot',
 u'return',
 u'raf',
 u'cranwel',
 u'seen',
 u'front',
 u'restor',
 u'meteor',
 u'nf',
 u'sir',
 u'frank',
 u'unabl',
 u'attend',
 u'ill',
 u'health',
 u'gloster',
 u'whittl',
 u'first',
 u'jet',
 u'fli',
 u'heinkel',
 u'maiden',
 u'flight',
 u'august',
 u'month',
 u'british',
 u'aircraft',
 u'correct',
 u'publish',
 u'may',
 u'pictur',
 u'gloster',
 u'whittl',
 u'jet',
 u'page',
 u'issu',
 u'tuesday',
 u'may',
 u'taken',
 u'bournemouth',
 u'airport',
 u'raf',
 u'cranwel',
 u'state',
 u'caption']

In [16]:
all_tokens = []
for i in range(N_DOC):
    for w in tokens_doc[i]:
        all_tokens.append(w)

new_sentence = ' '.join([w for w in all_tokens])

for w in CountVectorizer().build_tokenizer()(new_sentence):
    all_tokens.append(w)

# remove duplicate

In [17]:
all_tokens = set(all_tokens)

# proximity index

In [18]:
from itertools import izip as zip, count
proximity_index = {}
for token in all_tokens:
    dict_doc_position = {}
    for n in range(N_DOC):
        if(token in tokens_doc[n]):
            dict_doc_position[all_doc_no[n].firstChild.data] = [i for i, j in zip(count(), tokens_doc[n]) if j == token]
    proximity_index[token] = dict_doc_position

In [26]:
file = open('proximity index after remove number, stopping and stemming.txt','w')
for key, value in proximity_index.iteritems():
    file.write(key+'\n')
    for key, value in value.iteritems():
        file.write('\t'+str(key)+': ')
        for i in range (len(value)):
            file.write(str(value[i]))
            if not(i == len(value)-1):
                file.write(',')
        file.write('\n')
    file.write('\n')
file.close()

In [57]:
for key,value in proximity_index['incom'].iteritems():
    print key

3710
3494
3495
3490
3417
3324
3327
24
3795
3790
3816
282
287
3760
3835
3830
3937
3932
3405
125
3562
3658
375
3822
3820
3829
314
112
3673
3387
3470
3472
366
361
3580
3582
3666
3661
3817
3586
3589
3818
106
248
3390
39
3460
3469
3591
3590
3596
3617
3599
65
172
171
3699
3519
3694
3602
3606
3608
92
161
163
3449
16
3444
3396
3441
3834
3636
3865
3533
3535
3537
3939
3734
3439
3343
42
3345
326
141
3708
3709
3700
3706
3707
3705
3542
3788
351
3404

# Boolean Search

In [20]:
collection_matrix = {}
for token in all_tokens:
    matrix = []
    for i in range(N_DOC):
        if(token in tokens_doc[i]):
            matrix.append('1')
        else:
            matrix.append('0')
    collection_matrix[token] = matrix

 income OR taxes

In [21]:
income_biner = ''.join(collection_matrix['incom'])
taxes_biner = ''.join(collection_matrix['tax'])
print 'income OR taxes'
print income_biner+'\nOR\n'+taxes_biner
str_result = format(int(income_biner, 2) | int(taxes_biner, 2), '01000b')
print '=\n'+str_result+'\nMaka Hasil Query income OR taxes Terdapat Pada Nomor Dokumen : '
str_result_list = [i for i in str_result]
str_result_doc_no = []
for n in [i for i, j in zip(count(), str_result_list) if j == '1']:
    str_result_doc_no.append(all_doc_no[n].firstChild.data)
print u', '.join(str_result_doc_no)

income OR taxes
0000000000000001000000010000000000000010010000000000000000000000100000000000000000000000000100000000000001000001000000000000100000000000000010000000000000000000101000000011000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000010000100000000000000000000000000100000000000100000000000000000000000010000000001000010000000010100100000000000000010100000000000000000000000000000000000000000100100000100000001100000000000100000000000000000000010100100001000000000010000000011010000000000000000010001100000000000000000000000100000000000001010100001000000000000000000010000000000000000010100010011100001001001000101000000001000000000000000000100000000000000000000010010000100000010000000000000000000010000110000111111000000000000000000000001000000000000000000000000010000000000000000000000000001010000100000000000000000000111010100000011000110000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000000001000010100000000
OR
0010000000000101000000110000000111000010101001000000000000000000100000000000000000000000000100000000000000000000100000000000000000000000000010010100000000000000001000010101101011000001110001000000000000000000000000010000000001010000000000001000000000000000100001000001010000000000010000000000000000000001000000001111101001001101100000000000000000000000000010011000000001000000000101011100110001110001000000000000000000000000001000000000000110000000010001010101010010010000100000000000000001000101000001000000000000000000000001110000111000000010000100100001100000010000000100000101111111010000000100001000000000000111000101000000000000100000011011011101000010111011110001100010010011100000000000000000000001100000000000000100100000001000000000001100000101001111101000110000000000100000001000000000000000000000000000000000000100010000010000000000110000000000010000001000111001001011110100110010011000101100000000000000000001000000100000000000001000000000010000000000010000000000000011000000010000000000
=
0010000000000101000000110000000111000010111001000000000000000000100000000000000000000000000100000000000001000001100000000000100000000000000010010100000000000000101000010111101011000001110001000000000000000000000000010000000001010000000000001000000100000000100001000001010000000000010000100000000000000001000000001111101001001101100000000000000000000010000010011000010001000010100101011100110001110101000000000000000000000000001000000000000110100000110001011101010010010100100000000000000001010101100001000000000010000000011011110000111000000010001100100001100000010000000100000101111111010100001100001000000000000111000101000000000010100010011111011101001010111011110001100010010011100000100000000000000001100010010000100100110000001000000000001110000111001111111000110000000000100000001000000000000000000000000010000000000100010000010000001010110100000000010000001000111011101011111100110010011000101100000000000000010001000000100000000000001000000000010000000000010000000000000011001000010100000000
Maka Hasil Query income OR taxes Terdapat Pada Nomor Dokumen :
3, 14, 16, 23, 24, 32, 33, 34, 39, 41, 42, 43, 46, 65, 92, 106, 112, 113, 125, 141, 144, 146, 161, 163, 168, 170, 171, 172, 173, 175, 177, 178, 184, 185, 186, 190, 216, 226, 228, 241, 248, 257, 262, 268, 270, 282, 287, 304, 313, 314, 315, 316, 317, 319, 322, 325, 326, 328, 329, 351, 357, 360, 361, 366, 370, 375, 3324, 3327, 3329, 3331, 3332, 3333, 3336, 3337, 3341, 3342, 3343, 3345, 3347, 3374, 3387, 3388, 3390, 3396, 3397, 3401, 3403, 3404, 3405, 3407, 3409, 3412, 3415, 3417, 3420, 3437, 3439, 3441, 3443, 3444, 3449, 3460, 3469, 3470, 3472, 3473, 3474, 3475, 3480, 3481, 3482, 3490, 3494, 3495, 3498, 3503, 3504, 3511, 3519, 3525, 3527, 3528, 3529, 3530, 3531, 3532, 3533, 3535, 3537, 3542, 3543, 3548, 3561, 3562, 3563, 3567, 3569, 3580, 3582, 3586, 3589, 3590, 3591, 3592, 3593, 3595, 3596, 3597, 3599, 3602, 3604, 3606, 3607, 3608, 3610, 3611, 3612, 3613, 3617, 3618, 3622, 3625, 3628, 3629, 3630, 3636, 3653, 3654, 3658, 3661, 3666, 3669, 3672, 3673, 3680, 3692, 3693, 3694, 3699, 3700, 3701, 3704, 3705, 3706, 3707, 3708, 3709, 3710, 3714, 3715, 3726, 3734, 3760, 3771, 3775, 3781, 3788, 3790, 3792, 3793, 3795, 3805, 3812, 3816, 3817, 3818, 3820, 3821, 3822, 3824, 3826, 3827, 3828, 3829, 3830, 3831, 3834, 3835, 3838, 3841, 3842, 3846, 3848, 3849, 3865, 3869, 3876, 3890, 3901, 3913, 3928, 3929, 3932, 3937, 3939

 income AND taxes

In [40]:
income_biner = ''.join(collection_matrix['incom'])
taxes_biner = ''.join(collection_matrix['tax'])
print 'income AND taxes'
print income_biner+'\nAND\n'+taxes_biner
str_result = format(int(income_biner, 2) & int(taxes_biner, 2), '01000b')
print '=\n'+str_result+'\nMaka Hasil Query income AND taxes Terdapat Pada Nomor Dokumen : '
str_result_list = [i for i in str_result]
str_result_doc_no = []
for n in [i for i, j in zip(count(), str_result_list) if j == '1']:
    str_result_doc_no.append(all_doc_no[n].firstChild.data)
print u', '.join(str_result_doc_no)

income AND taxes
0000000000000001000000010000000000000010010000000000000000000000100000000000000000000000000100000000000001000001000000000000100000000000000010000000000000000000101000000011000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000010000100000000000000000000000000100000000000100000000000000000000000010000000001000010000000010100100000000000000010100000000000000000000000000000000000000000100100000100000001100000000000100000000000000000000010100100001000000000010000000011010000000000000000010001100000000000000000000000100000000000001010100001000000000000000000010000000000000000010100010011100001001001000101000000001000000000000000000100000000000000000000010010000100000010000000000000000000010000110000111111000000000000000000000001000000000000000000000000010000000000000000000000000001010000100000000000000000000111010100000011000110000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000000001000010100000000
AND
0010000000000101000000110000000111000010101001000000000000000000100000000000000000000000000100000000000000000000100000000000000000000000000010010100000000000000001000010101101011000001110001000000000000000000000000010000000001010000000000001000000000000000100001000001010000000000010000000000000000000001000000001111101001001101100000000000000000000000000010011000000001000000000101011100110001110001000000000000000000000000001000000000000110000000010001010101010010010000100000000000000001000101000001000000000000000000000001110000111000000010000100100001100000010000000100000101111111010000000100001000000000000111000101000000000000100000011011011101000010111011110001100010010011100000000000000000000001100000000000000100100000001000000000001100000101001111101000110000000000100000001000000000000000000000000000000000000100010000010000000000110000000000010000001000111001001011110100110010011000101100000000000000000001000000100000000000001000000000010000000000010000000000000011000000010000000000
=
0000000000000001000000010000000000000010000000000000000000000000100000000000000000000000000100000000000000000000000000000000000000000000000010000000000000000000001000000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000100000000000100000000000000000000000000000000001000000000000000000100000000000000010000000000000000000000000000000000000000000100000000000000000100000000000000000000000000000000000100000001000000000000000000000000000000000000000010000100000000000000000000000100000000000001010000000000000000000000000010000000000000000000100000011000001001000000101000000001000000000000000000000000000000000000000000000000000000000000000000000000000000000100000111101000000000000000000000001000000000000000000000000000000000000000000000000000000000000000000000000000000000111000000000010000110000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000
Maka Hasil Query income AND taxes Terdapat Pada Nomor Dokumen :
16, 24, 39, 65, 92, 141, 163, 172, 282, 314, 326, 361, 3327, 3343, 3387, 3405, 3441, 3449, 3490, 3495, 3519, 3533, 3535, 3562, 3582, 3589, 3590, 3596, 3599, 3606, 3608, 3617, 3699, 3705, 3706, 3707, 3708, 3710, 3734, 3816, 3817, 3818, 3829, 3834, 3835, 3937

Scotland

In [23]:
print('Hasil Query Scotland Terdapat Pada Nomor Dokumen :')
str_result_doc_no = []
for n in [i for i, j in zip(count(), collection_matrix['scotland']) if j == '1']:
    str_result_doc_no.append(all_doc_no[n].firstChild.data)
print u', '.join(str_result_doc_no)

Hasil Query Scotland Terdapat Pada Nomor Dokumen :
16, 94, 96, 143, 272, 351, 370, 3330, 3334, 3336, 3338, 3376, 3485, 3504, 3505, 3532, 3533, 3561, 3565, 3629, 3654, 3820, 3826, 3932, 3938

Window

In [24]:
print('Hasil Query Window Terdapat Pada Nomor Dokumen :')
str_result_doc_no = []
for n in [i for i, j in zip(count(), collection_matrix['window']) if j == '1']:
    str_result_doc_no.append(all_doc_no[n].firstChild.data)
print u', '.join(str_result_doc_no)

Hasil Query Window Terdapat Pada Nomor Dokumen :
30, 55, 59, 145, 160, 272, 374, 3463, 3639, 3782, 3788, 3906, 3909, 3910, 3917, 3930

replacing

In [25]:
print('Hasil Query replacing Terdapat Pada Nomor Dokumen :')
str_result_doc_no = []
for n in [i for i, j in zip(count(), collection_matrix['replac']) if j == '1']:
    str_result_doc_no.append(all_doc_no[n].firstChild.data)
print u', '.join(str_result_doc_no)

Hasil Query replacing Terdapat Pada Nomor Dokumen :
16, 28, 31, 51, 92, 97, 131, 135, 136, 138, 140, 169, 195, 197, 218, 242, 256, 274, 276, 325, 3325, 3342, 3361, 3370, 3387, 3397, 3403, 3410, 3411, 3413, 3418, 3437, 3438, 3461, 3494, 3504, 3521, 3531, 3532, 3533, 3561, 3598, 3623, 3654, 3660, 3662, 3668, 3693, 3700, 3716, 3720, 3724, 3734, 3745, 3788, 3805, 3828, 3867, 3869, 3876, 3886, 3895, 3896, 3907, 3918, 3921, 3930, 3935

condemning

In [26]:
print('Hasil Query condemning Terdapat Pada Nomor Dokumen :')
str_result_doc_no = []
for n in [i for i, j in zip(count(), collection_matrix['condemn']) if j == '1']:
    str_result_doc_no.append(all_doc_no[n].firstChild.data)
print u', '.join(str_result_doc_no)

Hasil Query condemning Terdapat Pada Nomor Dokumen :
113, 309, 354, 3374, 3674, 3678

# Bi-gram Index

In [36]:
bi_gram_tokens = []
bi_gram_sentence_doc = []

for n in range(N_DOC):
    token = []
    for i in range(len(tokens_doc[n])):
        if not(i == len(tokens_doc[n])-1):            
            token.append(tokens_doc[n][i]+'_'+tokens_doc[n][i+1])
            bi_gram_tokens.append(tokens_doc[n][i]+'_'+tokens_doc[n][i+1])
    bi_gram_sentence_doc.append(' '.join(token))

In [41]:
bi_gram_index = {}
for bigram_token in bigram_tokens:
    doc_no = []
    for i in range(N_DOC):
        if(bigram_token in bi_gram_sentence_doc[i]):
            doc_no.append(all_doc_no[i].firstChild.data)
    bi_gram_index[bigram_token] = doc_no

# Phrase search

In [55]:
print('Hasil Query income_taxes Terdapat Pada Nomor Dokumen :')
print u', '.join(bi_gram_index['incom_tax'])

Hasil Query income_taxes Terdapat Pada Nomor Dokumen :
65, 92, 282, 361, 3405, 3441, 3449, 3562, 3706, 3708, 3734, 3818

# Proximity Search

In [76]:
def proximity_search(a,b,w):
    prox_doc = []
    for i in range(N_DOC):
        if(a in tokens_doc[i] and b in tokens_doc[i]):
            for key1,value1 in proximity_index[a].iteritems():
                if(key1 == all_doc_no[i].firstChild.data):
                    for v1 in value1:
                        for key2,value2 in proximity_index[b].iteritems():
                            if(key2 == all_doc_no[i].firstChild.data):
                                for v2 in value2:
                                    if(abs(v1-v2) < w):
                                        prox_doc.append(all_doc_no[i].firstChild.data)
                                        break
    return prox_doc

#10(income, taxes)

In [75]:
result = set(proximity_search('incom','tax',10))
print('Hasil Query #10(income, taxes) Terdapat Pada Nomor Dokumen :')
print u', '.join(result)

Hasil Query #10(income, taxes) Terdapat Pada Nomor Dokumen :
3562, 3387, 92, 3449, 3817, 3734, 3699, 3599, 3441, 3533, 3708, 163, 3405, 65, 282, 3706, 3818, 361

"middle east" AND peace

In [84]:
result_middle_east = bi_gram_index['middl_east']
biner_middle_east = ''
for i in range(N_DOC):
    if(all_doc_no[i].firstChild.data in result_middle_east):
        biner_middle_east+='1'
    else:
        biner_middle_east+='0'
biner_peace = ''.join(collection_matrix['peac'])
print 'middle east'
print biner_middle_east
print 'AND'
print 'peace'
print biner_peace
str_result = format(int(biner_middle_east, 2) & int(biner_peace, 2), '01000b')
print '=\n'+str_result+'\nMaka Hasil Query "middle east" AND peace Terdapat Pada Nomor Dokumen : '
str_result_list = [i for i in str_result]
str_result_doc_no = []
for n in [i for i, j in zip(count(), str_result_list) if j == '1']:
    str_result_doc_no.append(all_doc_no[n].firstChild.data)
print u', '.join(str_result_doc_no)

middle east
0000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000010000000000000000000000010001000000000000000000000000000000000000000000000000000000000000000010000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000010000000000000000000000000011000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001010100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000100010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000
AND
peace
0000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010001000000000000000000000000000000000000000000000000000000000000001010000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000100010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
=
0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010001000000000000000000000000000000000000000000000000000000000000000010000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
Maka Hasil Query "middle east" AND peace Terdapat Pada Nomor Dokumen :
219, 223, 288, 305, 3549, 3663, 3762, 3766

In [85]:
all_sentence_doc[218]

u'\nFT  14 MAY 91 / Israel to seek EC law on Arab boycott of companies\n \nISRAEL is expected today to ask Brussels to extend the anti-Arab-boycott\nlegislation that already exists in two EC states to Community level.\nThe expected request by Mr David Levy, the Israeli foreign minister, to a\nformal EC-Israel meeting here coincides with growing interest in the\nCommunity, as well as the US, in at least an easing of the Arab boycott of\ncompanies trading with Israel as a confidence-building measure to boost\nMiddle East peace efforts.\nOn Saturday, several EC foreign ministers urged the six Gulf Co-operation\nCouncil members to use their influence within the Arab League for an easing\nof the boycott. The latter said this was only conceivable in the context of\nan Arab-Israeli peace deal.\nFrance and the Netherlands have national laws forbidding their companies to\ngive the Arab Boycott Office formal undertakings they will not trade with\nIsrael.\nThe Israeli government wants such legislation adopted by the EC as a whole,\narguing, among other points, that general Arab incitement creates commercial\ndistortion.\nGermany and Denmark now sympathise with the Israeli view, but most other EC\nstates want to wait and see how Israel responds to peace overtures and\nprefer to exert quiet political pressure on the Arabs.\n'